<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <configSections>
        <section name="httpAuthModule" type="System.Configuration.NameValueFileSectionHandler" />
    </configSections>

    <httpAuthModule>
        <!-- If HttpAuthModule has problems, please contact me, https://github.com/nabehiro/HttpAuthModule -->
        <add key="AuthMode" value="Basic"/>
        <add key="Realm" value="Secret Area"/>
        <add key="Credentials" value='motionpicture:Iop@-098;'/>
        <add key="DigestNonceValidDuration" value="120"/>
        <add key="DigestNonceSalt" value="uht9f87bbbSAX"/>
    </httpAuthModule>
  
    <system.webServer>
        <modules>
            <add type="HttpAuthModule.HttpAuthModule" name="HttpAuthModule" />
        </modules>
    </system.webServer>

</configuration>
